* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
}
.messages{
    background-color: white;
    padding: 3px;
}
.loader{
    position: fixed;
    background: rgb(0 0 0 / 33%);
    width: 100%;
    z-index: 99999;
    opacity: 1;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
.message_info{
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  
}
.spinner-border{
    color: #a600ff;
    width: 4rem !important;
    height: 4rem !important; 
}
.disablediv{
    background-image: linear-gradient(#969696, #a6a6a6) !important;
    pointer-events: none;
}
.mybet{
    color: white;
    font-size: 12px !important;
}
.my_bet{
    color: white;
    height: 70vh !important;
}
.my_bet div{
    font-size: 10px !important;
}
input[type=submit]:disabled,
button:disabled {
    background-image: linear-gradient(#969696, #a6a6a6);
}
.btnOTP
{
    padding: 25px;
    cursor: pointer;
    margin-left: 10px;
    line-height: 0px;
    width: 30vw !important;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-size: 12px;
    color: black ;
    background: #FFF;
    width: 100%;
    height: 100%;
}
a:hover{
    color: white !important;
}
a {
    text-decoration: none;
    color: white;
}

input {
    border: 0;
    text-decoration: none;
    background-color: white;
}
.success{
    color: black;
    font-size: 14px;
}
.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.flex_column {
    flex-direction: column;
    display: flex;
}

/* login.html */
/* navbar */
.login{
    height: 100%;
    width: 100%;
}
.login_body{
    height: 90vh;
}
.navbar {
    height: 10vh;
    display: flex;
    background-color: #009688;
    /* padding: 13px; */
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    /* height: 100%; */
    padding: 0 !important;
    width: 100%;
    align-items: center;
}

.navbar .flex_row {
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.back_icon a i {
    font-size: 20px;
    color: white;
    padding-left: 5px;
}

.back_icon a {
    text-decoration: none;
}

.title_banner {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}

/* end */
/* login body */
.loginform {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: 90vh;
    /* overflow: hidden; */
}

.loginform form .input_icon_textB {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.input_icon_textB input {
    width: 100%;
    padding-left: 40px;
}

.input_icon_textB i {
    position: absolute;
    padding-left: 10px;
    font-size: 26px;
    padding-top: 10px;
}

.inputformbox {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    height: 50px;
    font-size: 16px;
    padding: 10px 16px;
    margin-bottom: 20px;
    border-radius: 0px;
    border: 0;
    color: #1B2C42 !important;
}
.sendotp_btn input{
    padding: 25px;
    cursor: pointer;
    margin-left: 10px;
    line-height: 0px;
    width: 23vw !important;
    background-image: linear-gradient(#009688, #009688);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.loginButtonForm {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.login_button {
    background-image: linear-gradient(#009688, #009688);
    color: white;
    width: 270px;
    height: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.login_button input {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    background-image: linear-gradient(#009688, #009688);
    color: white;

}

.register_forgot {
    justify-content: center;
    margin-top: 2rem;
    font-size: 14px;
}

.registerbtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    height: 44px;
    align-items: center;
    display: flex;
    background-image: linear-gradient(white, white);
    font-size: 12px;
    font-weight: 600;
    width: 90px;
    justify-content: center;
}

.registerbtn input {
    background-image: linear-gradient(white, white);
    font-size: 12px;
    font-weight: 600;


}
.twb_main{
    align-items: center;
    font-size: 15px;
    justify-content: center;
    color: white;
}
.total_wallet_balance{
    padding:0px 2px;
    color: white;
}
.forgotbtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin-left: 35px;
    height: 44px;
    align-items: center;
    display: flex;
    width: 150px;
    background-image: linear-gradient(white, white);
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
}

.forgotbtn input {
    background-image: linear-gradient(white, white);
    font-size: 12px;
    font-weight: 600;

}

/* end` */
/* bottomtabbar */

.winpage{

}
.noselect{
    pointer-events: none;
    user-select: none;
    opacity: 0.8;
}
.Maincontainer {

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: linear-gradient(#8f1bc7, #43006d);
    height: 12vh;
    display: block;
}

main {
    width: 100%;
    background-color: #400007;
    height: 76vh;
    display: block
}

footer {
    background: linear-gradient(#8f1bc7, #43006d);
    height: 12vh;
    display: block;
    /* bottom: 0;

    position: fixed;
    left: 0;
    right: 0; */
}

.tabbar_main {
    border-bottom: 1px solid #8d8d8d;
}

.bottom_tabbar {
    min-height: 56px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 14px 2px rgb(0 0 0 / 12%);
    background: rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
}

.bottom_tabbar a {
    text-decoration: none;
    color: black;
    justify-content: center;
    width: 100px;
    display: flex;
    align-items: center;
}

.bottom_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_icon i {
    font-size: 24px;
    color: #1B2C42;
}

.bottom_icon span {
    font-size: 12px;
}

/* end */
/* login end */




/* win.html */
.rw_btn_moreoption_main {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.mainbody {
    padding-bottom: 60px;
}

._card {
    padding: 16px;

}

.balance_box {
    background-color: #009688 !important;
    color: white;
    padding: 20px;
    border-radius: 3px;
    font-size: 16px;
}

.tabbar_main {
    padding: 0 !important;
}

.rechagebtn_refreshbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.recharge_btn btn {
    padding: 0 !important;
}
.total_wallet_balance_title{
    font-size: 12px;
    color:white;
}
.recharge_btn input {
    background: #1DCC70;
    border-color: #1DCC70;
    font-size: 12px;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: 700;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* toggletabbar */
.Ttabbar {
    justify-content: space-between;
    padding-top: 1rem;
}

.tbBanner {
    width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Ttabbar a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    font-weight: 555;
}

.tabbarselected {
    border-bottom: solid 2px #2196f3;
    font-weight: 555 !important;
    color: black !important;
}


/* end */
/* choosegame-main */
.choosegame_main ._card {
    background-color: #f8f9fa !important;
}

.count_period {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cg_countlabel span {

    color: #aaa;
    font-size: 17px;
    font-weight: normal;
}

.cg_countlabel i {
    font-size: 20px;
    color: #aaa;
    padding-right: 5px;

}

.timer {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border-radius: 5px;
}

.timer h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.dyn_count {
    padding-top: 10px;
    color: #333;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_g_v_r {
    padding-top: 1em;
    justify-content: space-around;
}

.join_button {
    background-color: red;
    color: white;
    height: 40px;
    padding: 3px 22px;
    font-size: 15px;
    border-radius: 5px;
}

.g {
    background-color: #1bff3b;
    color: #fff;
}

.v {
    color: #fff;
    background-color: #6739B6;
}

.r {
    background-color: #ff0032;
    color: #fff;
}
.numberbtn input{
    /* background-color: #c3c3c3 !important;
    pointer-events: none; */
}
.hidenumberbtn input{
    background-color: #e0e0e0 !important;
    pointer-events: none;
}
.scolor::after {
    content: "";
    background-color: #39B54A !important;
    width: 15px;
    height: 15px;
    border-radius: 50px;

}

.fcolor::after {
    content: "";
    background-color: #E54D42 !important;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

.rv {
    background: linear-gradient(137.11deg, #6739B6 -9.13%, #6739B6 49.79%, #E54D42 49.8%, #E54D42 107.5%) !important;
}

.vg {
    background: linear-gradient(137.11deg, #6739B6 -9.13%, #6739B6 49.79%, #39B54A 49.8%, #39B54A 107.5%) !important;
}

.numberjoin_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}
.numberform{
    padding: 0 !important;
    margin:  0 !important;
}
.winnerboard{
    padding: 5px;
    height: 5vh;
    font-weight: 600;
    font-size: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.number_button {
    width: 17vw !important;
    height: 7vh;
    margin: 5px 5px;
    font-weight: 500;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: 15px !important;
    border-radius: 2px;
    align-items: center;
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    /* height: 30px; */
    /* padding: 3px 22px; */
    font-size: 15px;
}
.number024,.number529{
    justify-content: space-around;
}

.number_button_disabled {
    background: #ccc !important;
    border: #fafafa !important;
    color: #666 !important;
    box-shadow: none;
}

.recordtabbar {
    color: black;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-bottom: solid 2px #009688;
}

.recordtabbar i {
    font-size: 26px;

}

.recordtabbar span {
    font-size: 13px;
    font-weight: 600;
    padding: 3px;
}

.gr_sep {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grhl {
    color: grey;
    font-size: 12px;
}

.tTopB {
    border-top: 1px solid #E5E9F2;
    border-bottom: 0;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 500;
}

.gr_tablabel {
    display: flex;
    justify-content: space-between;
}

.gr_tablabel span {
    width: 100%;
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.end_nextPrev div {
    width: 100%;
    height: 44px;
    align-items: center;
    display: flex;
    justify-content: right;
}

.space_span {
    padding-left: 3px;
    padding-right: 3px;
}

.bottomnextprev {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

}

.bottomnextprev .right {
    font-size: 25px;
    color: black;
    padding-right: 20px;
}

.tTopB span {
    color: black;
}

.bottomnextprev .left {
    font-size: 25px;
    color: #ccc;
    padding: 0px 30px;
}

.pl_pr {
    padding: 0 25px;
}

.period_winOrfail .end_nextPrev {
    width: 100%;
}

.finaldetails {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 100%;
    flex-direction: row;

}

.finalcount {
    padding: 0px 10px;
}

.viewmore i {
    font-size: 20px;
}

.btn_effect:hover {
    transition: 0.5s;
    opacity: 0.8;
}

/* end` */
/* win end */


/* /win app/ */
.appbody_main {
    /* background-color: #400007; */
    background-color: #400007;
    width: 100%;
    height: 100%;
}

/* /appbar/ */
/* .appbar_main{

} */
.appbar {
    height: 40px;

    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    align-content: center;
    padding-right: 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.appbar .logo span {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.logo {
    padding: 0px 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

@media (max-width: 500px) {
    .appbar .logo span {
        font-size: 12px !important;
    }
    .appBar_header{
        overflow: hidden;
    }

}

.rechargebtn a,
.withdrawbtn a {
    background-color: #3f4dae;
    color: white;
    font-size: 12px;

    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #2a1665;
    padding: 5px 10px 5px 10px;
}

/* app body */
.appbody_main {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
}

.tabbar_row {

}

.game_main {
    /* width: 100%; */
    /* height: 100%; */
    /* padding-bottom: 40px; */
    /* padding: 0 10px; */
    display: flex;
    justify-content: center;
}

.tabbar_row a {
    text-decoration: none;
}

.tabselected {
    background-color: #01c051 !important;
}


.tab {
    color: white;
    margin: 5px 5px 0px 5px;
    height: 10vh;
    font-weight: 600;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    background-color: #8e0a24;
}

.tabhide,.main_play{
    display: none;
}
.tabshow{
    display: inline !important;
}

.play_details {
    justify-content: space-around;
    /* margin-top: 10px !important; */
    height: 66vh !important;
    width: 100% !important;
    padding: 0 !important;
}

.period {
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
}
.period span{
    padding: 0px 2px;
}
.play,
.recorddetails {
    background-color: yellow;
    color: black;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 3px !important;
    width: 50% !important;
}

@media (max-width: 430px) {
    .main_play{
        flex-direction: column !important;
    }
    .recorddetails{
        margin-bottom: 65px;
    }
    .play,
    .recorddetails {
        width: 100% !important;
    }

    footer {
        bottom: 0 !important;
        position: fixed !important;
        left: 0 !important;
        right: 0 !important;
    }
}

.result_tab {
    align-items: center;
    display: flex;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border-bottom: 2px solid white;
    justify-content: space-between;
}

.result_tab div {
    padding: 0px 10px;
}

.count_tab {
    align-items: center;
    display: flex;
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid black;
    justify-content: space-around;
}

.aw_details {
    justify-content: space-between;
    padding: 2px 10px;
}

.aw_time {

    width: 100%;
}

.winneralpha {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
    font-weight: 600;
}
tr{
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding-left: 2px;

}
.dashboard_title{
    font-weight: 600;
    font-size: 14px;
    padding: 0px 5px;
}
.dashboard_title span{
    padding: 0 !important;
}
.details_winner{
    font-weight: 600;
    font-size: 14px;
}



/* .table-table thead tr th,.table-table tbody tr td{
    padding: 4px;
} */
.my-custom-scrollbar {
    height: 22vh;
    overflow: auto;
    padding: 0px 5px;
    }

/* end  */
/* end */





/* /tabbar */
.apptabbar_main,
.appbar_bottombar_main {
    height: 40px;
    background-image: linear-gradient(#8f1bc7, #43006d);
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    align-content: center;
    padding-right: 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottombar_option {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.bottombar_option a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
}

.playimage {
    height: 23vh;
    display: none;
    justify-content: space-between;
}
.bannerimage{
    display: flex !important;
}
.mybetSelect_game{
    display: flex;
    width: 100%;
    height: 75vh;
}

.selectgame_main {
    display: flex;
    width: 100%;
    /* height: 100px; */
    height: 33vh;
}

.playimage img {
    width: 50%;
    padding: 5px;
    display: flex;
}

.recorddetails_table {
    height: 56vh;
    width: 100%;
}

.periodt {
    font-weight: 600;
    font-size: 12px;
}

.rd_t {
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

/* ends/` */
/* win end */
/* pop */
.joinpopup {
    visibility: hidden;
    background-color: white;
    left: 50%;
    position: absolute;
    /* width: 70%; */
    top: 50%;
    color: black;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
    border: 1px solid #102c1d;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 49%);
    border-radius: 15px;
}
.contractmoney {
    /* width: 40vw; */
    /* display: flex; */
    height: 20vh;
    /* height: 66%; */
    /* margin: 0 !important; */
    display: flex;
    /* padding: 0 !important; */
    /* align-items: center; */
    justify-content: center;
}
.contractcount{
    height: 15vh;
    display: flex;
    justify-content: center;
}
.popvis {
    visibility: visible !important;
}

.joinpopupform {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    display: block;
    width: 60vw;
    height: 60vh;
    font-size: 10px !important;
}

.header_pop {
    height: 20px;
    background-color: #7e15b3;
    font-size: 16px;
    /* width: 100%; */
    width: 60vw;
    height: 6vh;
    align-items: center;
    font-weight: 600;
    padding: 0pc 10px;
    border-radius: 12px 12px 0px 0px;
}

.contractbody {
    padding: 5px 10px;
    height: 35vh;
    font-size:  12px;
    width: 60vw;
    height: 55vh;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
}

.contracttitle {
    /* font-size: 13px; */
    /* font-weight: 700; */
    /* padding: 3px 0px; */
    height: 10vh;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    /* justify-content: center; */
    align-items: center;
}
.popup_title{
    width: 10px;
    height: inherit;
    display: flex;
    text-align: center;
    background: #7e15b3;
    color:white;
}
.contractt_box {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    width: 50vw;
    height: 10vh;
    padding: 0px;
    margin: 4px;
}

.ct_box_selected {
    background-color: #cccccc !important;
}

.contractt_box input:hover {
    background-color: #cccccc;
    transition: 0.3s;
}

.contractt_box input {
    text-align:center;
    text-decoration: none;cursor: pointer;justify-content: center;align-items: center;display: flex;color: black;width: 10vw;font-size: 14px !important;/* padding: 10px; */background-color: #f5f5f5;height: 10vh;}

.totalcontract {
    /* padding: 5px 0px; */
    height: 7vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.contract_box_count {
    justify-content: space-between;
    height: 10vh;
    margin: 5px;
    font-size: 13px !important;
    align-items: center;
}
.contractcount{
    display: flex;
    text-align: center;
}
.contractbtn {
    /* padding: 2px 10px; */
    background-color: #cccccc;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract_cancel_confirm_btn {
    justify-content: space-between;
    height: 7vh;
    /* display: flex; */
    margin: 3px;
    font-size: 13px;
    font-weight: 600 !important;
}

#totalcontract {
    padding: 0 3px;
}

.contract_cancel_confirm_btn input {
    /* padding: 2px 11px; */
    border-radius: 2px;
    width: 20vw;
    display: flex;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}
.appBar_header{
    /* padding: 10px; */
    height: 100%;
    margin: 0 !important;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    align-content: center;
}
/* popen */

/* bankcard style */
.bankcard_pge{
    color: white;
}
.addbank{
    position: absolute;
    bottom: 13vh;
    right: 10px;
}
.submitbankdetails input{
    
    width: 20vw;
    background: transparent;
    color: white;
    border: 1px solid crimson;
    border-radius: 2px 10px;
    padding: 5px;
    font-size: 13px;
    margin: 5px 0px;
}
.editbank span,.addbank span{
    margin: 5px;
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 2px 10px;
    display: flex;
    width: 20vw;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    font-size: 13px;
}
.jc{
    justify-content: center;
}
.alic{
align-items: center;
}
.bcdetailscard{
    padding: 2px 0px;
}
.title_bcd{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
}
.label_bc{
    padding: 5px 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
    border: 1px solid crimson;
    border-radius: 6px;
    text-align: center;
    width: 40vw;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.label_bc input{
    font-size: 13px;
    width: 40vw;
    background: transparent;
    color: white;
    height: auto;
    border: 0px solid transparent;
    border-color: transparent;
}
.sbc_child{
    display: flex;
    flex-direction: column;
    padding :2px 5px;
}
.displaybox_bc{}
/* end */
.recharge_pg{
    color: white;
}